@import './base.css';

body {
  font-family: Helvetica, sans-serif;
  margin: 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

h1 {
  font-weight: bold;
  font-size: 45px;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}

h1,
h2 {
  text-align: center;
}

button:hover {
  transform: scale(1.02);
  cursor: pointer;
}
